/* Template Conservacion CSS
/*----------------------------------------*/

/* FONT */
@font-face {
  font-family: "San Francisco Display Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
}

@font-face {
  font-family: "San Francisco Display Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}

@font-face {
  font-family: "San Francisco Display Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('font-awesome/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

#autorizacion-list .footable-header>th {
    background: #ffffff00;
    border-bottom: 2px solid #cc5050;
    border-top: 2px solid #cc5050;
    color: #f1f1f1;
    font-family: "San Francisco Display Medium";
    font-size: 17px;
    font-weight: 500;
    padding: 6px 2px;
    text-align: center;
}
#autorizacion-list>tbody>tr>td {
    border: 0;
    border-bottom: 1px solid #0095a0;
    color: #d4d4d4;
    padding: 5px;
    position: relative;
    text-align: center;
}
#autorizacion-list>tfoot {
    position: absolute;
    right: 0;
    top: -3px;
}
#autorizacion-list>tfoot .footable-page-nav.disabled {
    display: none;
}
#autorizacion-list>tbody>tr:not(.footable-detail-row):hover {
    background: #ffffff;
}
#autorizacion-list>tbody>tr:not(.footable-detail-row):hover>td {
    color: #151515;
}
#autorizacion-list>tbody>tr:hover + tr.footable-detail-row {
    background: #6d6d6d52;
}
#autorizacion-list>tbody>tr.footable-detail-row>td {
    padding: 5px 20px;
}
#autorizacion-list>tbody>tr.footable-detail-row .footable-details td {
    font-family: "San Francisco Display Thin";
    font-size: 13px;
}
#autorizacion-list>tbody>tr.footable-detail-row .footable-details th {
    font-family: "San Francisco Display Medium";
    font-size: 13px;
    font-weight: 500;
    padding-right: 3%;
    text-align: right;
}
.cons-ficha-tit {
    border-radius: 2px;
    color: white;
    font-size: 26px;
    font-family: "San Francisco Display Medium";
    margin-bottom: 20px;
    text-align: center !important;
    width: 100%;
}
.cons-ficha-tit.ficha-tit-main>div {
    background-color: #880900b0 !important;
    background-image: url(../images/textures/c.png);
    border: 1px solid #114584;
    color: #213340;
    color: #ffffff;
    font-family: 'BebasNeue-Regular';
    letter-spacing: 1px;
    text-shadow: 0 0 12px black;
}
.cons-ficha-tit.ficha-tit-second>div {
    background-color: #00316dbd !important;
    background-image: url(../images/textures/c.png);
    border: 1px solid #114584;
    color: #213340;
    color: #ffffff;
    font-family: 'BebasNeue-Regular';
    letter-spacing: 1px;
    text-shadow: 0 0 12px black;
}
.content-finmuebles {
    height: 415px;
    overflow-y: scroll;
    width: 100%;
}
.content-finmuebles .content {
    margin-top: 5%;
    overflow: auto;
    width: 100%;
}
.content-finmuebles .content>div {
    float: left;
}
.content-finmuebles .content>div:nth-child(odd) {
    background: #16a7b2;
	border-radius: 7px;
	/*clear: both;*/
	color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 1%;
	padding-left: 5px;			
	width: 24%;
}
.content-finmuebles .content>div:nth-child(even) {
    background-color: whitesmoke;
	border-radius: 4px;
	color: #000;
	font-family: Poppins-Regular;
	font-size: 16px;
	margin-top:1%;
	margin-left: 1%;
    margin-right: 1%;				
	width: 24%;
}

.content>div:nth-child(4n+1) {
    clear: both;
} 
			
.content-finmuebles .content img {
    width: 95%;
}
.content-finmuebles .content img.logo-inst {
    width: 15%;
}
/* CARD STYLES */

.content-both>div:nth-child(2) {
	width: 200px !important;
}
.content-ficha {
	font-family: "San Francisco Display Thin";
	padding-bottom: 10%;
    width: 100%;
}
.content-ficha>.content-main {
	background: #ffffff;
	color: #544e4e;
    padding: 10px 0px;
    width: 100%;
}
.content-ficha>.content-inst {
	background: #2d2424;
    color: white;
    display: table-cell;
    padding: 11px;
    width: calc(100%/3);
}
.content-ficha .right-content {
	float: right;
	margin: 0px 9px;
	position: relative;
	width: 30%;
}
.right-content {
    width: 300px;
}
.content-ficha .right-content>img {
	border-radius: 4px;
	box-shadow: 0px 0px 0px 0px;
	transform: scale(1);
	transform-origin: top right;
	transition: transform 1s, box-shadow 1s;
	width: 100%;
}
.content-ficha .right-content>img:hover {
	box-shadow: -20px 20px 20px 0px rgba(16, 16, 16, 0.45);
	transform: scale(2);
    transform-origin: top right;
    transition: transform 1s, box-shadow 1s;
    z-index: 1;
}
.content-ficha .right-content>div>div:nth-child(1) {
	padding-right: 6px;
}
.content-inst {
	-webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px;
	transition: box-shadow 1s;
}
.content-inst>div:nth-child(1) {
	border-bottom: 4px solid #e05a5a;
	font-family: BebasNeue-Regular;
	font-size: 38px;
	letter-spacing: 1px;
    margin: 15px 5px;
    padding-bottom: 20px;
    text-align: center;
}
.content-inst>div>div {
	font-size: 14px;
    padding: 0px 10px;
    text-align: center;
}
.content-inst>div>div:nth-child(1) {
    font-family: "San Francisco Display Medium";
	padding-bottom: 2px;
	padding-top: 10px;
}
.content-inst>div>div:nth-child(2) {
    font-family: "San Francisco Display Ultralight";
    font-size: 13px;
}
.content-inst:hover {
	-webkit-box-shadow: 0px 12px 31px -4px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 12px 31px -4px rgba(0,0,0,0.84);
    box-shadow: 0px 12px 31px -4px rgba(0,0,0,0.84);
	transform: scale(1.2) translate(0px, 28.5px);
	transition: box-shadow 1s, transform .5s;
}
.content-inst img {
	background: white;
    border-radius: 3px;
    margin: 3px 3px 2px 10px;
    padding: 5px;
    width: 120px;
}
.content-main>div {
	display: flex;
}
.content-main>div>div {
	font-size: 16px;
	padding: 6px 0px;
}
.content-main>div>div:nth-child(1):not(.foto-swiper-effect) {
	background: #2d2424;
    border-radius: 2px;
    border-top: 1px solid #d8d8d8;
    color: #ffffff;
    flex-shrink: 0;
    font-family: "San Francisco Display Thin";
    font-weight: 600;
    padding-right: 8px;
    text-align: right;
    width: 180px;
}
.content-main>div>div:nth-child(3) {
	background: #2d2424;
    border-radius: 2px;
    border-top: 1px solid #d8d8d8;
    color: #ffffff;
    flex-shrink: 0;
    font-family: "San Francisco Display Thin";
    font-weight: 600;
    margin-left: 10px;
    padding-right: 8px;
    text-align: right;
    width: 200px;
}
.content-main>div>div:nth-child(2n+2) {
	border-top: 1px solid #d8d8d8;
	color: #002a38b8;
    flex-shrink: 0;
    font-family: "San Francisco Display thin";
    font-weight: 600;
    margin-left: 10px;
    position: relative;
}
.content-main>div>label {
	font-size: 17px;
}
.custom-form-filter {
    margin-left: 278px;
    position: absolute;
}
.custom-single-section {
    min-height: 65vh;
}
.fecha-img {
    background: #a2012596;
    border-radius: 1px 4px 0px 0px;
    bottom: 0;
    color: #ffffff;
    font-family: "San Francisco Display Thin";
    font-size: 16px;
    padding: 0px 4px;
    left: 0;
    position: absolute;
    /* transform: scale(0.5); */
    transform-origin: top right;
    text-shadow: 0 0 12px black;
}
.fuente-img {
    background: #244c6f85;
    border-radius: 0px 0px 2px 0px;
    /* bottom: 3%; */
    color: #ffffff;
    font-family: "San Francisco Display Thin";
    font-size: 16px;
    padding: 0px 4px;
    left: 0;
    position: absolute;
    /* transform: scale(0.5); */
    transform-origin: top left;
    text-shadow: 0 0 12px black;
}
/*END CARD*/
.filter-alcaldias {
	border-radius: 2px;
}
.filter-autorizaciones {
    color: white;
    margin-bottom: 10px;
}
.filter-select {
    border: 1px solid rgb(244, 244, 244);
    border-radius: 4px;
    font-size: 13px;
    height: 24px;
    margin-bottom: 13px;
    text-align: left;
    width: 225px;
}
.filter-text {
    border: 1px solid rgb(244, 244, 244);
    border-radius: 4px;
    font-size: 13px;
    height: 24px;
    margin-bottom: 0px;
    margin-right: 20px;
    text-align: left;
    width: 210px;
}
input.filter-text {
    padding: 4px;
}
.filter-form {
    position: relative;
}
.filter-form.loading-filter:after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.filter-form.loading-filter .filter-text {
    background-image: url(../images/icons/load-circle.gif) !important;
    background-repeat: no-repeat !important;
    background-position: right;
    background-size: 22px !important;
    right: 1px !important;
}
.filter-form.loading-filter .selectize-control.single .selectize-input:after {
    background-image: url(../images/icons/load-circle.gif) !important;
    background-repeat: no-repeat !important;
    background-position: right;
    background-size: 22px !important;
    border: 0 !important;
    height: 22px !important;
    right: 1px !important;
    top: 18% !important;
    width: 22px !important;
}
.filter-sec-domicilio {
    display: none;
}
.filter-poligono {
    font-family: "San Francisco Display Medium";
    margin-bottom: 10px;
    /*text-align: center;*/
    width: 100%;
}
.filter-poligono .icon {
    background: #106d82;
    border-radius: 0px 4px 4px 0px;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 12px;
    height: 24px;
    margin-left: -4px;
    padding: 7px 6px 6px 6px;
}
.filter-poligono>div {
	color: rgb(86, 86, 86);
    font-size: 17px;
    margin-bottom: 5px;
    margin-right: 20px;
    padding-bottom: 2px;
    text-align: left;
}
.filter-poligono .filter-tit {
    color: #d2d2d2;
    font-family: 'BebasNeue-Regular';
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 27px;
    margin-bottom: 0px;
    margin-top: 12px;
    padding-left: 2%;
    padding-top: 12px;
}
.filter-poligono .filter-tit.ex-add {
    border-top: 1px solid rgb(234, 234, 234);
}
.filter-poligono .filter-tit::after {
    height: 10px;
    width: 10px;
}
.filter-poligono .filter-tit i {
    background: rgba(210, 66, 66, 0);
    border-radius: 3px;
    font-size: 20px;
    height: 28px;
    margin-top: 0px !important;
    padding: 0px 8px 5px 8px;
    position: absolute;
    right: 0;
    transform: rotate(0deg);
    transition: transform .6s;
}
.filter-poligono .filter-tit i.turn {
    transform: rotate(180deg);
    transition: transform .6s;
}
.filter-zone {
    height: max-content;
    position: relative;
}
.ff-in {
	margin-top: -5%;
	margin-left: 2%;
	opacity: 1;
    z-index: 2 !important;
}
.footable .form-inline .form-group {
    width: 265px;
}
.footable-details {
    text-align: left;
}
.footable-details a {
    color: white;
    font-size: 16px;
}
.footable-details a:after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 19px;
    background: transparent url(../img/pdf.png) no-repeat;
    background-size: contain;
    margin-bottom: -4px;
    margin-left: 7px;
}
.footable-pagination-wrapper {
    display: flex;
    position: relative;
}
.form-inline {
    margin-bottom: 2.5%;
}
.form-inline button.btn-default.dropdown-toggle {
    display: none;
}
.form-inline .selectize-control{
    margin: 2px 10px;
    width: 185px;
}
.foto-footer-info {
	bottom: 4px;
	border: 0 !important;
	color: white !important;
    display: flex;
	position: absolute;
    text-shadow: 2px 2px 14px black;
	width: 100% !important;
    z-index: 1;
}
.foto-footer-info>div {
	font-family: "San Francisco Display Medium";
    font-size: 20px;
    font-weight: 500;
    padding-right: 6px;
}
.foto-none-swiper-effect {
    height: 100%;
}
.foto-swiper-effect {
    background: black;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    position: relative;
    /*width: 300px;*/
}
.swiper-fotos {
    height: 200px;
    width: 100%;
}
.swiper-fotos>.foto-swiper-effect {
  border: 0;
  border-radius: 1px;
  right: 0px;
  top: 0px;
  transform: scale(1);
  /*transition: border .1s linear, border-top .1s linear, border-bottom .1s linear, transform .1s linear;*/
  /*width: 150px;*/
}
.swiper-fotos>.foto-swiper-effect.zoom-active {
  /*border: 5px solid #005b6e;
  border-top: 10px solid #005b6e;
  border-bottom: 10px solid #005b6e;
  transform: scale(4.5);
  
  transition: border .4s linear, border-top .4s linear, border-bottom .4s linear, transform .4s linear;*/
  -webkit-animation: show_foto 1.2s linear forwards;
  animation: show_foto 1.2s linear forwards;
  z-index: 1;
}
.swiper-fotos>.foto-swiper-effect .swiper-wrapper {
  top: 0px;
  /*transition: top .1s linear;*/
}
.swiper-fotos>.foto-swiper-effect.zoom-active .swiper-wrapper {
  -webkit-animation: up_foto 1.2s linear forwards;
  animation: up_foto 1.2s linear forwards;
  z-index: -1;
}
}
.galeria-name {
  background: #fffde2;
  border-radius: 0px 1px 0px 0px;
  color: #2d2d2d;
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-family: BebasNeue-Regular;
  font-size: 18px;
  padding: 0px 5px;
  letter-spacing: .3px;
  line-height: 25px;
  height: 23px;
  opacity: 1;
  left: 0px;
}
.swiper-fotos>.foto-swiper-effect.zoom-active .animal-name {
  -webkit-animation: show_name 1.5s linear forwards;
  animation: show_name 1.5s linear forwards;
}
.swiper-fotos>.foto-swiper-effect.zoom-active .galeria-name {
  -webkit-animation: hide_text 1.2s linear forwards;
  animation: hide_text 1.2s linear forwards;
}

.minus-zoom-pic {
    background: #840015b3;
    border-radius: 0px 5px 5px 0px;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 15px;
    left: -7%;
    opacity: 0;
    padding: 5px 5px;
    position: absolute;
    text-align: center;
    top: 0px;
    transition: opacity .5s linear;
    
    width: 70px;
    z-index: 4;
}
.minus-zoom-pic i {
    margin-left: 4px;
}
.enable-zoom-minus {
    opacity: 1;
    transition: opacity .5s linear;
}
.zoom-pic {
    background: #0c5558c2;
    border-radius: 0px 0px 5px 5px;
    color: white;
    cursor: pointer;
    float: right;
    font-family: "San Francisco Display Thin";
    font-size: 16px;
    opacity: 1;
    text-align: center;
    transition: opacity .5s linear;
    width: 75px;
    text-shadow: 0 0 12px black;
}
.zoom-pic.disable-zoom-plus {
    opacity: 0;
    transition: opacity .5s linear;
}
.zoom-pic i {
    margin-left: 4px;
}
@keyframes hide_text {
  0% {
    opacity: 1;
    left: 0px;
  }
  30% {
    opacity: 0;
    left: -60px;
    
  }
  100% {
    opacity: 0;
    left: -60px;
  }
}
@keyframes show_name {
  0% {
    opacity: 0;
    left: -60px;
  }
  40% {
    opacity: 1;
    left: -60px;
    
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
@-webkit-keyframes show_foto {
  0% {
    -webkit-transform:scale(1);
    opacity: 1;
    transform: scale(1);
  }
  30% {
    -webkit-transform:scale(1);
    opacity: 0;
    transform: scale(1);
    
  }
  60% {
    -webkit-transform: scale(4.5));
    opacity: 0;
    border: 4px solid #fffde2;
    transform: scale(4.5);
  }
  100% {
    -webkit-transform: scale(4.5));
    opacity: 1;
    border: 4px solid #fffde2;
    transform: scale(4.5);
  }
}
@keyframes show_foto {
  0% {
    -webkit-transform:scale(1);
    opacity: 1;
    transform: scale(1);
  }
  30% {
    -webkit-transform:scale(1);
    opacity: 0;
    transform: scale(1);
    
  }
  60% {
    -webkit-transform: scale(4.5));
    opacity: 0;
    border: 4px solid #d45065;
    height: 131%;
    right: 173%;
    top: 175px;
    transform: scale(2.3);
  }
  100% {
    -webkit-transform: scale(4.5));
    opacity: 1;
    border: 3px solid #47676f;
    height: 131%;
    right: 173%;
    top: 175px;
    transform: scale(2.3);
  }
}
@-webkit-keyframes up_foto {
  0% {
    top: 0px;
  }
  40% {
    top: -80px;
  }
  50% {
    top: -80px;
  }
  60% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
@keyframes up_foto {
  0% {
    top: 0px;
  }
  40% {
    top: -80px;
  }
  50% {
    top: -80px;
  }
  60% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
.swiper-fotos>.foto-swiper-effect .slide-inner {
    height: 100%;
}
.slide-inner {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
}
.foto-swiper-effect .swiper-slide {
  overflow: hidden;
  width: 100% !important;
}
.full-card-data {
    background: #e2dbe2;
    border: 3px solid #487577;
    border-radius: 2px;
    color: #020202;
    display: none;
    font-weight: 100;
    font-size: 16px;
    max-height: 202px;
    overflow-y: auto;
    padding: 5px 14px 10px 10px;
    position: absolute;
    text-align: justify;
    top: 0px;
    width: 97%;
    /*word-break: break-all;*/
    z-index: 1;
}
.full-card-data:hover {
    display: block;
}
.full-data-calle {
    flex-shrink: 1 !important;
}
.gm-control-active.gm-fullscreen-control>img {
	min-width: auto !important;
}
.jconfirm-box-container.col-md-4 {
	/*flex: 100% !important;
	max-width: 100% !important;*/
}
.jconfirm-content {
    height: 700px;
    overflow-y: scroll;
    padding: 1% 6% 10% 6%;
}
.jconfirm-content::-webkit-scrollbar {
  width: 12px;
}

.jconfirm-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(197, 197, 197, 0.49); 
  border-radius: 4px;
}
 
.jconfirm-content::-webkit-scrollbar-thumb {
    background: rgba(43, 43, 43, 0.21176470588235294);
    border-radius: 2px;
}

.jconfirm-content::-webkit-scrollbar-thumb:hover {
  background: rgba(43, 43, 43, 0.43); 
}
/*label{
	padding: 6%;
}*/
.close-f {
    background: #ad27008a !important;
    border: 1px solid #9e4600 !important;
    border-radius: 0px 0px 0px 3px;
    cursor: pointer;
    font-size: 16px !important;
    right: 0;
    text-align: center;
    width: 163px !important;
    z-index: 4;
}
.ficha-content {
    /*background: red;*/
    border-radius: 0px 3px 3px 3px;
    /*display: none;*/
    height: 90%;
    left: -100%;
    margin: 2%;
    opacity: 0;
    position: absolute;
    transition: all .5s linear;
    width: 66%;
    z-index: -1;
}
.ficha-content.show-f {
    left: 0%;
    opacity: 1;
    transition: left .5s linear, opacity .7s linear;
    transition-delay: 1s;
    z-index: 3;
}
.f-content {
    /*background: #fffff9;*/
    height: 100%;
    left: 0px;
    opacity: 1;
    position: absolute;
    transition: left .4s linear, opacity .6s linear;
    width: 100%;
}
.f-content-1 {
    background-color: #ffffffcc;
    background-image: url(../images/textures/a.png);
    height: 100%;
    left: 0%;
    opacity: 1;
    padding: 15px 10px 15px 5px;
    position: absolute;
    transition: left .4s linear, opacity .6s ease-out;
    width: 100%;
    z-index: 1;
}
.f-content-1-pic {
    height: 35%;
    opacity: 1;
    position: absolute;
    right: -46%;
    top: 0;
    transition: right .4s linear, opacity .6s ease-out;
    width: 43%;
}
/*.f-hide {
    left: -165%;
    opacity: 0;
    transition: left .4s linear, opacity .6s ease-out;
}*/
.f-hide>.f-content-1 {
    /*left: -165%;
    opacity: 0;
    transition: left .4s linear, opacity .6s ease-out;*/
    left: -110%;
    opacity: 0;
    transition: left .4s linear, opacity .6s ease-out;
}
.f-hide>.f-content-1-pic {
    right: -95%;
    opacity: 0;
    transition: right .4s linear, opacity .6s ease-out;
}
.f-main-tab {
    width: 100%;
}
.f-main-tab td {
    border-bottom: 1px solid #e8e8e8;
    color: #636769;
    font-family: "San Francisco Display Medium";
    font-size: 17px;
    padding: 0px 8px 1px 8px;
    position: relative;
}
div.content-more-card-data {
    height: 22px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 432px;
}
i.more-card-data {
    position: absolute;
    right: 10px;
    top: 10px;
}
.f-main-tab th {
    background-color: #213340;
    background-image: url(../images/textures/a.png);
    border-bottom: 1px solid gainsboro;
    color: #ffffff;
    font-family: 'BebasNeue-Regular';
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 3px 5px 0px 3px;
    text-align: right;
    width: 33%;
}
.f-tre-autorizacion {
    max-height: 175px;
    overflow-y: auto;
}
.f-tre-autorizacion::-webkit-scrollbar {
    width: 9px;
}
.f-tre-autorizacion::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #5d5d5dad;
    border-radius: 4px;
}
.f-tre-autorizacion::-webkit-scrollbar-thumb {
    background: #757f86ad;
    border-radius: 3px;
    box-shadow: inset 0 0 5px #2d2d2d;
}
.f-tre-autorizacion::-webkit-scrollbar-thumb:hover {
    background: #4a443d;
}
.f-tre-autorizacion .auto-height{
    border-bottom: 1px solid #333333;
    height: 30px;
    padding: 2px 0px;
}
.f-tre-autorizacion>table {
    width: 100%;
}
.f-tre-autorizacion td:first-child {
    width: 32%;
}
.f-tre-autorizacion td:nth-child(2) {
    width: 28%;
}
.f-tit-tab {
    background: #170700 !important;
    font-size: 22px !important;
    letter-spacing: 1px !important;
    text-align: center !important;
}
.f-tre-tab {
    margin: 3% auto;
    width: 100%;
}
.f-tre-tab a {
    color: white !important;
    /*padding-bottom: 7px;*/
    padding-top: 5px;
}
.f-tre-tab #inst_cataloga {
    font-size: 22px !important;
    letter-spacing: 1px;
}
.f-tre-tab #inst_cataloga, .f-tre-tab #tipo_catalogacion, .f-tre-tab #clave_catalogacion{
    font-size: 16px;
    height: 30px;
    position: relative;
}
.f-tre-tab #clave_catalogacion i.more-card-data {
    top: 2px;
}
.f-tre-tab td {
    background: #2e3438;
    background-image: url(../images/textures/a.png);
    color: white;
    font-family: "San Francisco Display Thin";
    font-size: 14px;
    text-align: center;
}
.f-tre-tab td:first-child {
    font-family: 'BebasNeue-Regular';
    font-size: 19px;
}
.f-tre-tab td>div>div>div {
    height: 25px;
    width: 250px;
}
.f-tre-tab th {
    background: #272d31;
    background-image: url(../images/textures/a.png);
    color: white;
    font-family: 'BebasNeue-Regular';
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 3px 6px;
    text-align: center;
}
.f-tre-tab th:first-child {
    width: 32%;
}
.f-tre-tab th:nth-child(2) {
    width: 28%;
}
#foto-content,#foto-content-2 {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#fecha_archivo {
    /*padding-bottom: 3px;
    padding-top: 4px;*/
}
#fecha_imagen {
    background: #215392;
    border-radius: 0px 0px 0px 5px;
    color: white;
    float: right;
    font-size: 14px;
    padding-left: 5px;
    text-align: center;
    width: 75%;
}
.pdf-autorizacion {
    color: #0c1514;
    margin-right: 2%;
}
.btn-content-1 {
    /*background: #2f2b26;
    color: #f3f3f3;
    font-size: 25px;
    padding: 32px 18px;
    border-radius: 3px 0px 0px 0px;
    content: "";
    height: 15%;
    left: -60px;
    position: absolute;
    width: 60px;*/
    z-index: 4;
}
.btn-content-2 {
    /*background: #2f2b26;
    color: #f3f3f3;
    font-size: 22px;
    padding: 34px 18px;
    border-radius: 0px 0px 0px 3px;
    content: "";
    height: 15%;
    left: -60px;
    position: absolute;
    top: 15%;
    width: 60px;*/
    z-index: 4;
}
.content-map-cons.blog-single-section {
    overflow: hidden;
    padding: 0px;
}
.content-map-cons .m-auto {
    /*margin: 10px !important;*/
}
.icons-details {
    bottom: -25px;
    color: white;
    font-size: 17px;
    height: 36px;
    padding: 5px 2px;
    position: absolute;
    transition: font-size .3s linear;
}
.icons-details.ida {
    background: #173c6d99;
    background-image: url(../images/textures/a.png);
    border-bottom-left-radius: 4px;
    border: 1px solid #173c6dba;
    font-family: "San Francisco Display Medium";
    text-align: center;
    width: 259px;
}
.icons-details.bda {
    background: #962020bd;
    background-image: url(../images/textures/a.png);
    border: 1px solid #9e3a3a;
    border-bottom-right-radius: 4px;
    font-family: "San Francisco Display Medium";
    left: 259px;
    text-align: center;
    width: 170px;
}
.hide-ficha {
    -webkit-box-shadow: inset 0px 0px 20px 16px rgb(62 62 62 / 72%);
    -moz-box-shadow: inset 0px 0px 20px 16px rgb(62 62 62 / 72%);
    box-shadow: inset 0px 0px 20px 16px rgb(62 62 62 / 72%);
    cursor: pointer;
    background: #50493ff0;
    font-size: 15px !important;
    transition: font-size .3s linear;
    z-index: 1;
}
.mapats {
    cursor: pointer;
    height: 650px;
    width: 100%;
}
.map-poligono {
    position: relative;
}
.more-card-data:hover ~ span {
    display: block;
}
.more-filter {
    text-align: unset !important;
}
.no-consejos-tit {
    font-size: 18px;
    margin: 6% 0%;
}
.no-result-confirm .jconfirm-content {
    overflow: hidden !important;
}
.no-result-confirm .jconfirm-content-pane {
    max-height: 200px !important;
}
.no-result-confirm .jconfirm-title {
    color: white;
    line-height: 25px;
    letter-spacing: 1px;
}
.no-result-confirm ul>li {
    font-size: 14px;
    margin-bottom: 3%;
    width: 90%;
}
.none-row {
    visibility: collapse;
}
.none-ficha-tit {
    background: unset !important;
    padding: 0 !important;
}
.none-rows-message {
    background: #607D8B;
    border-radius: 4px;
    color: white;
    display: none;
    font-family: 'BebasNeue-Regular';
    font-size: 40px;
    letter-spacing: 2px;
    margin: 11% 4%;
    padding: 8%;
    position: absolute;
    text-align: center;
    z-index: 2;
}
.restablecer {
    background: rgba(255, 255, 255, 0);
    border: .5px solid rgba(15, 109, 130, 0.54);
    border-radius: 2px;
    color: rgb(97, 97, 97);
    font-family: "San Francisco Display Medium";
    font-size: 14px;
    height: 24px;
    letter-spacing: 0.5px;
    margin-left: 10%;
    margin-top: 10px;
    padding: 0px 8px;
}
.search-by-filter {
    background: rgba(255, 255, 255, 0);
    border: .5px solid rgba(15, 109, 130, 0.54);
    border-radius: 2px;
    color: rgb(97, 97, 97);
    font-family: "San Francisco Display Medium";
    font-size: 14px;
    height: 24px;
    letter-spacing: 0.5px;
    margin-left: 0%;
    padding: 0px 14px;
}
table.footable > thead > tr.footable-filtering > th div.input-group {
    width: 100%;
}
.ui-progress-bar {
    bottom: 0;
    position: absolute;
    height: 33px;
    padding-right: 2px;
    background-color: #00656d78;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    z-index: 2;
}

.ui-progress {
    position: relative;
    display: block;
    overflow: hidden;
    height: 33px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-size: 44px 44px;
    background-color: #1e3f42ad;
    border: 1px solid #006d6b;
    -webkit-animation: animate-stripes 5s linear infinite;
}

.ui-progress-fail {
    background-color: #e60c0c !important;
    border: 1px solid #ffdede !important;
    color: white;
}

.ui-progress span.ui-label {
    color: rgb(255, 255, 255);
    font-family: "San Francisco Display Ultralight";
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 33px;
    padding-right: 12px;
    position: absolute;
    right: 0;
}

/**
Estilos acciones precautorias
TABLA
*/

#content-inmuebles{
	display: none;
}

.content-immuebles-titulo{
	background-color: #16A7B2 !important;
}

.content-immuebles-titulo p{
	color:#FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}
.content-immuebles tr, .content-immuebles tr td {
   border: #16A7B2 1px solid;
   color:#000;
   font-family: sans-serif;
   text-align: center;
}


/*Fin de estilos */

@media (max-width: 480px) {
    .content-finmuebles .content>div {
        float: none;
        width: 100% !important;
    }
	.content-finmuebles .content-ficha-inm>img {
    	width: 100%;
	}

	#content-inmuebles div {
	overflow: scroll;
    height: 386px;
	}
    .custom-conserv-content .custom-conserv-gellery {
        margin-left: -15px;
        width: 110%;
    }
    .jconfirm-holder {
        padding: 0 !important;
    }
    .jc-bs3-container.container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .jconfirm-box-container {
        padding-right: 0px !important;
    }
    .jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
        border-radius: 0px;
        padding: 0px;
    }
    .jconfirm .jconfirm-box div.jconfirm-title-c {
        border-radius: 0px;
    }
    .jconfirm-content {
        overflow-x: hidden;
        padding: 1% 1% 5% 1%;
    }
    .jconfirm .jconfirm-box div.jconfirm-content-pane {
        max-height: 100vh !important;
    }
    .jconfirm .jconfirm-box .jconfirm-buttons {
        position: fixed;
        right: 15px;
        top: 8px;
    }
    .content-ficha>.content-main {
        padding: 0px 0px;
    }
    .content-main>div>div:nth-child(1):not(.foto-swiper-effect) {
        clear: both;
        font-weight: 100;
        width: 135px;
    }
    .content-main>div>div {
        font-size: 13px;
        padding: 3px 0px;
        width: 195px;
    }
    .content-both {
        display: initial !important;
    }
    .content-both>div {
        float: left;
    }
    .content-both div:nth-child(3) {
        margin-left: 0px !important;
        width: 135px !important;
    }
    .content-both:last-child>div:last-child {
        width: 210px;
    }
    .content-ficha>.content-inst {
        border-bottom: 3px solid white;
        display: flow-root;
        width: 100%;
    }
    .content-ficha .right-content {
        margin: 0px 2px 0px 5px;
        width: 40%;
    }
    .content-inst img {
        width: 100px;
    }
    .content-inst>div:nth-child(1) {
        font-size: 32px;
        margin: 0px 0px;
        padding-bottom: 8px;
    }
    .content-inst>div>div {
        font-size: 12px;
        padding: 0px 22px;
    }
    .content-inst>div>div:nth-child(1) {
        padding-bottom: 0px;
        padding-top: 5px;
    }
    .content-main>div:nth-child(2) {
        display: table;
    }
    .content-main>div:nth-child(2)>div:first-child {
        padding-left: 8%;
        text-align: left;
        width: 100%;
    }
    .foto-footer-info {
        display: inherit !important;
    }
    .foto-footer-info>div {
        font-size: 12px;
    }
    .foto-swiper-effect {
        height: 85px;
    }
    .foto-none-swiper-effect:hover {
        animation: goesscale 1s forwards;
    }
    @-webkit-keyframes goesscale {
        0% {
            transform: scale(1);
            transform-origin: top right;
        }
        100% {
            transform: scale(3.34);
            transform-origin: top right;
        }
    }
    @-moz-keyframes goesscale {
        0% {
            transform: scale(1);
            transform-origin: top right;
        }
        100% {
            transform: scale(3.34);
            transform-origin: top right;
        }
    }
    @-o-keyframes goesscale {
        0% {
            transform: scale(1);
            transform-origin: top right;
        }
        100% {
            transform: scale(3.34);
            transform-origin: top right;
        }
    }
    @keyframes goesscale {
        0% {
            transform: scale(1);
            transform-origin: top right;
        }
        100% {
            transform: scale(3.34);
            transform-origin: top right;
        }
    }
    @-webkit-keyframes goestit {
        0% {
            bottom: 0%;
            opacity: 1;
        }
        30% {
            bottom: -20%;
            opacity: 0;
        }
        70% {
            bottom: 100%;
            opacity: 0;
        }
        100% {
            bottom: 80%;
            opacity: 1;
            transform: scale(.5);
            transform-origin: top left;
        }
    }
    @-moz-keyframes goestit {
        0% {
            bottom: 0%;
            opacity: 1;
        }
        30% {
            bottom: -20%;
            opacity: 0;
        }
        70% {
            bottom: 100%;
            opacity: 0;
        }
        100% {
            bottom: 80%;
            opacity: 1;
            transform: scale(.5);
            transform-origin: top left;
        }
    }
    @-o-keyframes goestit {
        0% {
            bottom: 0%;
            opacity: 1;
        }
        30% {
            bottom: -20%;
            opacity: 0;
        }
        70% {
            bottom: 100%;
            opacity: 0;
        }
        100% {
            bottom: 80%;
            opacity: 1;
            transform: scale(.5);
            transform-origin: top left;
        }
    }
    @keyframes goestit {
        0% {
            bottom: 0%;
            opacity: 1;
        }
        30% {
            bottom: -20%;
            opacity: 0;
        }
        70% {
            bottom: 100%;
            opacity: 0;
        }
        100% {
            bottom: 63%;
            opacity: 1;
            transform: scale(.5);
            transform-origin: top left;
        }
    }
}
/*@media (max-width: 768px) {
    #autorizacion-list>tfoot {
        left: 3px;
        top: 44px;
    }
    .form-inline {
        margin-bottom: 67px;
    }
}*/
/*@media (max-width: 1024px) {
    .custom-form-filter {
        margin-left: -5px;
        margin-bottom: 1.5% !important;
        position: initial;
    }
}*/
@media (max-width: 600px) {
    .close-f {
        border-radius: 0;
        font-size: 17px !important;
        left: unset !important;
        right: -7px !important;
        width: 87px !important;
    }
    .cons-ficha-tit {
        background: #ffffffbd;
        font-size: 24px;
        margin: 0;
        padding: 12px 10px 15px 9px;
        width: 67%;
    }
    .cons-ficha-tit>div {
        line-height: 28px;
        padding: 6px 0px 4px 0px;
    }
    .content-cataloga {
        background: #ffffffbd;
        border-left: 7px solid #ffffffbd;
        border-right: 7px solid #ffffffbd;
        overflow-x: auto;
        width: 332px;
    }
    .content-map-cons .container {
        max-width: 100%;
        width: 100%;
    }
    div.content-more-card-data {
        width: 145px;
    }
    .f-content-1 {
        background-color: #d61515cc;
        padding: 0;
    }
    .f-content-1-pic {
        right: 0%;
        width: 30%;
        z-index: 1;
    }
    .f-main-tab {
        background: #ffffffbd;
        margin-top: 5px;
        width: 100%;
    }
    .f-main-tab td {
        font-size: 14px;
    }
    .f-main-tab th {
        font-size: 15px;
        width: 46%;
    }
    .f-tre-autorizacion {
        max-height: 108px;
    }
    .f-tre-tab {
        width: 500px;
    }
    .f-tre-tab #inst_cataloga {
        font-size: 17px !important;
    }
    .f-tre-tab #inst_cataloga, .f-tre-tab #tipo_catalogacion, .f-tre-tab #clave_catalogacion {
        font-size: 14px;
        height: 23px;
    }
    .f-tre-tab td>div>div>div {
        width: 150px;
    }
    .f-tre-tab th {
        font-size: 17px;
    }
    .f-tre-tab th:first-child {
        width: 36%;
    }
    .f-tre-tab th:nth-child(2) {
        width: 31%;
    }
    .fecha-img {
        font-size: 14px;
        opacity: 0;
    }
    #fecha_imagen {
        opacity: 0;
    }
    .ficha-content {
        height: auto;
        width: 96%;
    }
    .foto-none-swiper-effect {
        height: 67px;
    }
    .fuente-img {
        font-size: 14px;
        opacity: 0;
    }
    .full-card-data {
        right: 0px;
        width: 332px;
    }
    i.more-card-data {
        right: 8px;
        top: 5px;
    }
    .icons-details {
        bottom: -643px !important;
        font-size: 18px;
        height: 54px;
        padding: 0px;
    }
    .icons-details.bda {
        border-radius: 0;
        left: 150px;
        line-height: 22px;
        padding: 4px;
        width: 101px;
    }
    .icons-details.ida {
        border-radius: 0;
        left: -7px;
        width: 157px;
    }
    .hide-ficha {
        font-size: 16px !important;
        line-height: 19px;
        padding: 5px 10px;
    }
    .minus-zoom-pic {
        border-radius: 5px 5px 0px 0px;
        right: 12px !important;
        left: unset;
        top: 56px;
        width: 80px;
    }
    .none-row {
        display: none;
    }
    .none-rows-message {
        border-radius: 2px;
        display: block;
        font-size: 27px;
        margin: 28% 0% 0% 0%;
        padding: 4%;
    }
    .swiper-fotos {
        height: 102px;
    }
    .swiper-fotos>.foto-swiper-effect.zoom-active {
        right: 127px !important;
        width: 130px;
    }
    .zoom-pic {
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 0px;
    }
}
@media (min-width: 601px) {
    .close-f {
        font-size: 15px !important;
        width: 100px !important;
    }
    .content-map-cons .container {
        max-width: 100%;
        width: 100%;
    }
    div.content-more-card-data {
        width: 250px;
    }
    .f-main-tab td {
        font-size: 14px;
    }
    .f-main-tab th {
        font-size: 17px;
        width: 42%;
    }
    .f-tre-autorizacion {
        max-height: 128px;
    }
    .f-tre-tab #inst_cataloga {
        font-size: 17px !important;
    }
    .f-tre-tab #inst_cataloga, .f-tre-tab #tipo_catalogacion, .f-tre-tab #clave_catalogacion {
        font-size: 14px;
    }
    .f-tre-tab td>div>div>div {
        width: 150px;
    }
    .f-tre-tab th {
        font-size: 16px;
    }
    .f-tre-tab th:first-child {
        width: 36%;
    }
    .f-tre-tab th:nth-child(2) {
        width: 31%;
    }
    .fecha-img {
        font-size: 14px;
    }
    .fuente-img {
        font-size: 14px;
    }
    .icons-details {
        bottom: -30px;
        font-size: 15px;
        height: 30px;
        padding: 3px 0px;
    }
    .icons-details.bda {
        left: 225px;
        width: 120px;
    }
    .icons-details.ida {
        width: 225px;
    }
    .hide-ficha {
        font-size: 14px !important;
    }
    .mapats {
        height: 527px;
    }
    .swiper-fotos {
        height: 135px;
    }
    .zoom-pic {
        font-size: 14px;
    }
}
@media (min-width: 801px) {
    .content-map-cons .container {
        max-width: 100%;
        width: 100%;
    }
    div.content-more-card-data {
        width: 295px;
    }
    .f-main-tab td {
        font-size: 15px;
    }
    .f-main-tab th {
        font-size: 19px;
        width: 42%;
    }
    .f-tre-tab td>div>div>div {
        width: 195px;
    }
    .f-tre-tab th {
        font-size: 19px;
    }
    .mapats {
        height: 650px;
    }
}
@media (min-width: 964px) {
    div.content-more-card-data {
        width: 374px;
    }
    .f-main-tab td {
        font-size: 15px;
    }
    .f-main-tab th {
        font-size: 19px;
    }
    .f-tre-tab td>div>div>div {
        width: 195px;
    }
    .f-tre-tab th {
        font-size: 19px;
    }
}
@media (min-width: 1120px) {
    .filter-zone {
        margin: 0 auto;
        width: 1075px;
    }
    .map-poligono {
        margin: 0 auto;
        width: 1075px;
    }
}
@media (min-width: 1366px) {
    .content-map-cons .container {
        max-width: 1390px;
        padding-right: 22px;
        width: 1390px;
    }
	.filter-alcaldias {
	}
	.filter-poligono {
	    background: rgb(255, 255, 255);
        border-radius: 1px;
        padding: 1px 4px 12px 4px;
	}
    .map-poligono {
        float: left;
        width: 79%;
    }
    .filter-zone {
        float: right;
        margin-left: 1%;
        margin-right: 2%;
        width: 18%;
        z-index: 5;
    }
}